<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="emailSender" value="bookingautomation985@gmail.com" />
    <add key="emailSenderPassword" value="8Yuk98Dmpr" />
    <add key="emailReceiver" value="" />
    <add key="emailSubject" value="DMV Appointments available" />

    <add key="typeOfTest" value="DL" />
    <add key="firstName" value="" />
    <add key="lastName" value="" />
    <add key="permitNumber" value="" />
    <add key="birthMonth" value="" />
    <add key="birthDay" value="" />
    <add key="birthYear" value="" />
    <add key="phone" value="" />
    <add key="daysInAdvance" value="6" />
    <add key="offices" value="Redwood City, Fremont, Santa Clara, San Jose, Santa Teresa, Los Gatos, Gilroy, Capitola, San Francisco, Daly City, San Mateo" />
  </appSettings>
</configuration>